* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.full-sec {
    height: 100vh;
    display: flex;
    justify-content: center;
    background-color: yellow;
}

.inner-sec {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
    background-color: blue;
    height: 70%;
    width: 70%;
}

.top-icons {
    background-color: green;
    flex: 5%;
    width: 50%;
}

.display {
    background-color: green;
    flex: 25%;
    width: 50%;
}

.calc {
    display: flex;
    flex-direction: column;
    flex: 70%;
    width: 50%;
    background-color: brown;
}

.num1 {
    flex: 3;
    display: flex;
    flex-direction: column;
}

.num2 {
    flex: 2;
    display: flex;
}

.num3 {
    display: flex;
    flex-direction: column;
    flex: 3.3;
}

.down {
    display: flex;
    justify-content: space-between;
}

.down1 {
    flex: 1;
}

.equal-btn {
    flex: 1;
}

.first-line {
    display: flex;
    justify-content: space-between;
    background-color: blueviolet;
    height: 60%;
}

.btns {
    flex: 1;
    display: flex;
    border: 1px solid black;
    border-radius: 10px;
    margin: 5px;
    justify-content: center;
    align-items: center;
}

.equal-btn {
    display: flex;
    flex-direction: column;
    justify-content: end;
    padding-bottom: 25px;
}
