* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.full-sec {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;

}

.inner-sec {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* gap: 5px; */
    height: 80%;
    width: 70%;
}

.top-icons {
    background-color: green;
    flex: 5%;
    width: 45%;
}

.display {
    background-color: darkslategray;
    min-height: 35%;
    width: 45%;
}

.calc {
    height: auto;
    width: 45%;
    display: flex;
    background-color: black;
}

.digits {
    flex: 3;
    display: flex;
}

.logic {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.digit-nums {
    flex: 1;
}

.btns {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80px;
    border-radius: 10px;
    margin: 5px;
    background-color: darkslategray;
    color: white;
    font-size: x-large;
}

.first {
    flex: 3;
}

.equal-btn {
    flex: 2;
}

.colo {
    background-color: rgb(4, 57, 75);
}

.colo1 {
    background-color: rgb(95, 6, 6);
}

@media (max-width: 790px) {
    .top-icons, .display, .calc {
        width: 80%;
    }
}