* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.full-sec {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow-y:auto;
}

.inner-sec {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 80%;
    width: 30%;
}

.top-icons {
    background-color: #1e293b;
    color: #ffffff;
    min-height: 5%;
    min-width: 100%;
    display: flex;
    justify-content: flex-end;
    gap: 8px;
    align-items: center;
}

.display {
    min-height: 25%;
    min-width: 100%;
    max-width: 100%;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    /* background-color: #334155; */
}

.figures, .answers {
    flex: 1;
    background-color: #1e293b;
    color: #f1f5f9;
    display: flex;
    justify-content: end;
    align-items: center;
    font-size: xx-large;
}

.calc {
    height: 70%;
    min-width: 100%;
    display: flex;
    background-color: #0f172a;
}

.digits {
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    width: 100%;
    height: 100%;
    padding: 5px;
}

.btns {
    /* background-color: #1e40af; */
    background-color: #151f3f;
    color: white;
    border-radius: 10px;
    text-align: center;
    align-content: center;
    margin: 5px;
    font-size: x-large;
}

.equal-btn {
    grid-column: 4;
    grid-row: 4 / span 5;
    align-content: center;
    background-color: #16a34a;
    color: #ffffff;
}

.colo {
    background-color: #475569;
}

.colo1 {
    background-color: #dc2626;
}

@media (max-width: 790px) {
    .inner-sec {
        width: 50%;

    }
}